/* Personalizar el ancho de la scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Personalizar el color de fondo de la scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Personalizar el color del thumb de la scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Personalizar el hover del thumb de la scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }